---
// pages/index.astro
import Layout      from '../layouts/BaseLayout.astro';
import HeroVideo   from '../components/HeroVideo.astro';
import Hero        from '../components/Hero.astro';
import FeatureCard from '../components/FeatureCard.astro';
import { features } from '../data/features';
---


<Layout title="NormaX Labs">
  <HeroVideo
    src="/videos/intro.mp4"
    headline="Il futuro è arrivato"
    items={[
      { text: 'Processo Geometrico Gaussiano', href: '/modelli/gbm' },
      { text: 'Creazione di indice ETF su CEX', href: '/modelli/cex-opt-portf' },
      {text: 'Creazione portfolio personalizzato', href: '/modelli/ai-port-adv'},
      {text: 'Pump.Fun', href: '/modelli/pumpfun'},
    ]}
    links={[
      "/modelli/gbm",
      "/#",
      "/#"
    ]}
  />

  <Hero
    headline="Costruiamo il futuro finanziario"
    tagline="Soluzioni open-source, community e innovazione senza compromessi."
    cta="Parla con noi"
    link="/contacts/"
  />

  <section id="features" class="py-24 bg-slate-50">
    <div class="max-w-6xl mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-16 reveal">
        Perché sceglierci
      </h2>

      <div class="grid gap-12 md:grid-cols-3">
        {features.map((f) => <FeatureCard {...f} />)}
      </div>
    </div>
  </section>
</Layout>
