---
// src/pages/modelli/index.astro
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Modelli finanziari">
  <section class="py-24">
    <div class="max-w-3xl mx-auto px-4">
      <h1 class="text-4xl font-extrabold mb-8 text-primary-600">
        Modelli disponibili
      </h1>

      <ul class="list-disc list-inside space-y-4 text-lg">
        <li>
          <a href="/modelli/gbm"
             class="text-indigo-600 hover:underline">
            Simulazione del prezzo come processo geometrico gaussiano
          </a>
        </li>
        <li>
          <a href="/modelli/cex-opt-portf"
             class="text-indigo-600 hover:underline">
            Costruzione di un ETF su crypto scambiate su CEX
          </a>
        </li>

        <li>
          <a href="/modelli/ai-port-adv"
             class="text-indigo-600 hover:underline">
             Creazione di un portfolio personalizzato
          </a>
        </li>

        <li>
          <a href="/modelli/pumpfun"
             class="text-indigo-600 hover:underline">
             Analisi della piattaforma Pump.Fun
          </a>
        </li>

        
      </ul>
    </div>
  </section>
</Layout>
