---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Area riservata">
  <section class="py-24">
    <div class="max-w-3xl mx-auto px-4 text-center">
      <h1 class="text-4xl font-extrabold mb-8 text-primary-600">
        In progress ...
      </h1>
    </div>
  </section>
</Layout>